<div>
  <link href="./community-services-research-article.css" rel="stylesheet" />
  <div class="community-services-research-article-blog">
    <div class="community-services-research-article-container">
      <div
        class="blog-post-card11-blog-post-card blog-post-card11-root-class-name14"
      >
        <div class="blog-post-card11-container">
          <span class="blog-post-card11-text"><span>2022 - 1 cited</span></span>
          <span class="blog-post-card11-text1">
            <span>
              Pelatihan Microsoft Excel Tingkat Mahir untuk Para Alumni Kejuruan
              Operator Komputer PPKD Jakarta Timur
            </span>
          </span>
          <div class="blog-post-card11-container1">
            <div class="blog-post-card11-profile">
              <img
                alt="profile"
                src="https://scholar.google.co.id/citations?view_op=view_photo&user=ORsUaXAAAAAJ&citpid=1"
                image_src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fG1hbiUyMHBvcnRyYWl0fGVufDB8fHx8MTYyNjQzMTMwMw&amp;ixlib=rb-1.2.1&amp;h=1200"
                class="blog-post-card11-image"
              />
              <span class="blog-post-card11-text2">
                <span>Henri Septanto</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="community-services-research-article-container1"></div>
    <div class="community-services-research-article-container2">
      <div
        class="blog-post-card11-blog-post-card blog-post-card11-root-class-name16"
      >
        <div class="blog-post-card11-container">
          <span class="blog-post-card11-text"><span>2022 - 1 cited</span></span>
          <span class="blog-post-card11-text1">
            <span>
              Pelatihan Pendukung bagi Pelaku Usaha Kecil, Mikro, dan Menengah
              (UMKM) dalam Digitalisasi Pemasaran
            </span>
          </span>
          <div class="blog-post-card11-container1">
            <div class="blog-post-card11-profile">
              <img
                alt="profile"
                src="https://scholar.google.co.id/citations?view_op=view_photo&user=O-yvO64AAAAJ&citpid=1"
                image_src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fG1hbiUyMHBvcnRyYWl0fGVufDB8fHx8MTYyNjQzMTMwMw&amp;ixlib=rb-1.2.1&amp;h=1200"
                class="blog-post-card11-image"
              />
              <span class="blog-post-card11-text2">
                <span>Uus Rusmawan</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
