<div>
  <link href="./international-research-article.css" rel="stylesheet" />
  <div class="international-research-article-blog">
    <div class="international-research-article-container">
      <div
        class="blog-post-card11-blog-post-card blog-post-card11-root-class-name11"
      >
        <div class="blog-post-card11-container">
          <span class="blog-post-card11-text"><span>2021 - 2 cited</span></span>
          <span class="blog-post-card11-text1">
            <span>
              A Prototype of Web-based Picture Cards Matching Video Game for
              Memory Improvement Training
            </span>
          </span>
          <div class="blog-post-card11-container1">
            <div class="blog-post-card11-profile">
              <img
                alt="profile"
                src="https://scholar.google.co.id/citations?view_op=view_photo&user=ORsUaXAAAAAJ&citpid=1"
                image_src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fG1hbiUyMHBvcnRyYWl0fGVufDB8fHx8MTYyNjQzMTMwMw&amp;ixlib=rb-1.2.1&amp;h=1200"
                class="blog-post-card11-image"
              />
              <span class="blog-post-card11-text2">
                <span>Henri Septanto</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="international-research-article-container1">
      <div
        class="blog-post-card11-blog-post-card blog-post-card11-root-class-name12"
      >
        <div class="blog-post-card11-container">
          <span class="blog-post-card11-text">
            <span>2017 - 13 Cited</span>
          </span>
          <span class="blog-post-card11-text1">
            <span>
              Digital signature & encryption implementation for increasing
              authentication, integrity, security and data non-repudiation
            </span>
          </span>
          <div class="blog-post-card11-container1">
            <div class="blog-post-card11-profile">
              <img
                alt="profile"
                src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fG1hbiUyMHBvcnRyYWl0fGVufDB8fHx8MTYyNjQzMTMwMw&ixlib=rb-1.2.1&h=1200"
                image_src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fG1hbiUyMHBvcnRyYWl0fGVufDB8fHx8MTYyNjQzMTMwMw&amp;ixlib=rb-1.2.1&amp;h=1200"
                class="blog-post-card11-image"
              />
              <span class="blog-post-card11-text2">
                <span>Desi Ramayanti</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="international-research-article-container2">
      <div
        class="blog-post-card11-blog-post-card blog-post-card11-root-class-name13"
      >
        <div class="blog-post-card11-container">
          <span class="blog-post-card11-text"><span>2020 - 0 cited</span></span>
          <span class="blog-post-card11-text1">
            <span>
              Initial Application of Computer-Based Test as a Tool for Leaners’
              Learning Evaluation in The Industrial Revolution 4.0 Era
            </span>
          </span>
          <div class="blog-post-card11-container1">
            <div class="blog-post-card11-profile">
              <img
                alt="profile"
                src="https://scholar.google.co.id/citations?view_op=view_photo&user=O-yvO64AAAAJ&citpid=1"
                image_src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fG1hbiUyMHBvcnRyYWl0fGVufDB8fHx8MTYyNjQzMTMwMw&amp;ixlib=rb-1.2.1&amp;h=1200"
                class="blog-post-card11-image"
              />
              <span class="blog-post-card11-text2">
                <span>Uus Rusmawan</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
