<div>
  <link href="./national-research-article.css" rel="stylesheet" />
  <div class="national-research-article-blog">
    <div class="national-research-article-container">
      <div
        class="blog-post-card11-blog-post-card blog-post-card11-root-class-name3"
      >
        <div class="blog-post-card11-container">
          <span class="blog-post-card11-text"><span>2022 - 0 cited</span></span>
          <span class="blog-post-card11-text1">
            <span>
              PERANCANGAN SISTEM INFORMASI PENJADWALAN MENGAJAR DOSEN TEKNIK
              INFORMATIKA UNIVERSITAS XYZ
            </span>
          </span>
          <div class="blog-post-card11-container1">
            <div class="blog-post-card11-profile">
              <img
                alt="profile"
                src="https://scholar.google.co.id/citations?view_op=view_photo&user=ORsUaXAAAAAJ&citpid=1"
                image_src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fG1hbiUyMHBvcnRyYWl0fGVufDB8fHx8MTYyNjQzMTMwMw&amp;ixlib=rb-1.2.1&amp;h=1200"
                class="blog-post-card11-image"
              />
              <span class="blog-post-card11-text2">
                <span>Henri Septanto</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="national-research-article-container1">
      <div
        class="blog-post-card11-blog-post-card blog-post-card11-root-class-name2"
      >
        <div class="blog-post-card11-container">
          <span class="blog-post-card11-text"><span>2021 - 1 cited</span></span>
          <span class="blog-post-card11-text1">
            <span>
              SiJasPro : Sistem Informasi Jasa Proyek Dalam Meningkatkan
              Kepuasan Pelanggan
            </span>
          </span>
          <div class="blog-post-card11-container1">
            <div class="blog-post-card11-profile">
              <img
                alt="profile"
                src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fG1hbiUyMHBvcnRyYWl0fGVufDB8fHx8MTYyNjQzMTMwMw&ixlib=rb-1.2.1&h=1200"
                image_src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fG1hbiUyMHBvcnRyYWl0fGVufDB8fHx8MTYyNjQzMTMwMw&amp;ixlib=rb-1.2.1&amp;h=1200"
                class="blog-post-card11-image"
              />
              <span class="blog-post-card11-text2">
                <span>Desi Ramayanti</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="national-research-article-container2">
      <div
        class="blog-post-card11-blog-post-card blog-post-card11-root-class-name1"
      >
        <div class="blog-post-card11-container">
          <span class="blog-post-card11-text"><span>2020 - 2 cited</span></span>
          <span class="blog-post-card11-text1">
            <span>Sistem Informasi Pembelian Barang Pada Perusahaan</span>
          </span>
          <div class="blog-post-card11-container1">
            <div class="blog-post-card11-profile">
              <img
                alt="profile"
                src="https://scholar.google.co.id/citations?view_op=view_photo&user=O-yvO64AAAAJ&citpid=1"
                image_src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fG1hbiUyMHBvcnRyYWl0fGVufDB8fHx8MTYyNjQzMTMwMw&amp;ixlib=rb-1.2.1&amp;h=1200"
                class="blog-post-card11-image"
              />
              <span class="blog-post-card11-text2">
                <span>Uus Rusmawan</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
