<div>
  <link href="./the-lecturers.css" rel="stylesheet" />
  <div class="the-lecturers-testimonial">
    <div class="the-lecturers-container">
      <div class="the-lecturers-container1">
        <div class="the-lecturers-container2">
          <div
            class="testimonial-card2-testimonial-card testimonial-card2-root-class-name7"
          >
            <div class="testimonial-card2-testimonial">
              <span class="testimonial-card2-text">
                <span>
                  Henri Septanto is a Lector at Dian Nusantara University in the
                  Informatics Engineering Study Program. He is a man with the
                  highest education S2 and is an active permanent lecturer.
                </span>
              </span>
              <a
                href="lectures/henri-septanto"
                target="_blank"
                rel="noreferrer noopener"
                class="testimonial-card2-link"
              >
                <span>Henri Septanto</span>
              </a>
            </div>
            <div class="testimonial-card2-container">
              <img
                alt="profile"
                src="https://scholar.google.co.id/citations?view_op=view_photo&user=ORsUaXAAAAAJ&citpid=1"
                class="testimonial-card2-image"
              />
              <span class="testimonial-card2-text1">
                <span>Basic Web Programming</span>
              </span>
            </div>
          </div>
        </div>
        <div
          class="testimonial-card2-testimonial-card testimonial-card2-root-class-name6"
        >
          <div class="testimonial-card2-testimonial">
            <span class="testimonial-card2-text">
              <span>
                Desi Ramayanti is a Lector at Dian Nusantara University in the
                Informatics Engineering Study Program. She is a woman with the
                highest education S2 and is an active PNS DPK Lecturer.
              </span>
            </span>
            <a
              href
              target="_blank"
              rel="noreferrer noopener"
              class="testimonial-card2-link"
            >
              <span>Desi Ramayanti</span>
            </a>
          </div>
          <div class="testimonial-card2-container">
            <img
              alt="profile"
              src="https://images.unsplash.com/photo-1542909192-2f2241a99c9d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDV8fHBvcnRyYWl0JTIwYnd8ZW58MHx8fHwxNjI2NDUyMjQw&ixlib=rb-1.2.1&h=1200"
              class="testimonial-card2-image"
            />
            <span class="testimonial-card2-text1">
              <span>Basic Programming Algorithms</span>
            </span>
          </div>
        </div>
      </div>
      <div class="the-lecturers-container3">
        <div
          class="testimonial-card4-testimonial-card testimonial-card4-root-class-name3"
        >
          <span class="testimonial-card4-text">
            <span>
              Uus Rusmawan is a man who is studying at Dian Nusantara University
              in the Informatics Engineering study program. Currently he serves
              as Assistant Expert with the highest education S2. He is an active
              permanent lecturer at the university.
            </span>
          </span>
          <div class="testimonial-card4-profile">
            <img
              alt="John Doe"
              src="https://scholar.google.co.id/citations?view_op=view_photo&user=O-yvO64AAAAJ&citpid=1"
              class="testimonial-card4-image"
            />
            <div class="testimonial-card4-container">
              <a
                href
                target="_blank"
                rel="noreferrer noopener"
                class="testimonial-card4-link"
              >
                <span>Uus Rusmawan</span>
              </a>
              <span class="testimonial-card4-text1">
                <span>Software Engineer</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
